//#region nutui 主题

// color

// 主色调
$primary-color: #3aa6ff;
$primary-color-end: #3aa6ff;
//#endregion

$warning-color: #f3812e;
$danger-color: #fa2c19;

// 页面背景色
$page-bc: #eee;

// 常用色

$color-red: #f00;
$color-orange: #f70;

// button

// $button-border-radius: 8px;

$gray-5: #d9d9d9;
$gray-7: #8c8c8c;
$gray-8: #595959;
$gray-11: #1f1f1f;
$gray-12: #141414;
